*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

html {
  font-size: 56.25%;
  scroll-behavior: smooth;
  display: block;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
}

main,
section {
  display: block;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header styles */

.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("./img/hero.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}
.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-text-primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-text-secondary {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.logo {
  height: 3.5rem;
}
.h-margin-top {
  margin-top: 10rem;
}

/* navigation */

.navigation {
  display: block;
  box-sizing: inherit;
}
.nav-checkbox {
  display: none;
}
.nav-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.nav-icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav-icon,
.nav-icon::before,
.nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav-icon::before {
  top: -0.8rem;
}
.nav-icon::after {
  top: 0.8rem;
}
.nav-bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav-item {
  margin: 1rem;
}

.nav-link {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 220%;
    transition: all 0.7s;
  }
  &:hover,
  &:active {
    background-position: 100%;
    color: #7ed56f;
    transform: translateX(1rem);
  }
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}
.nav-checkbox:checked ~ .nav-bg {
  transform: scale(80);
}
.nav-checkbox:checked ~ .navigation {
  width: 100%;
}
.nav-checkbox:checked ~ .navigation-container {
  opacity: 1;
  width: 100%;
}

/* button */

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-white::after {
  background-color: #fff;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.75s;
}

.h-margin-top {
  margin-top: 10rem;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover,
.btn-text:active {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
/* main */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 4rem;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.heading-tartiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;
  color: #777;
  line-height: 2.5rem;
}
.row {
  max-width: 100rem;
  margin: 0 auto;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
.row [class^="col-"] {
  float: left;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #7ed56f;
}
.composition__photo--p1:hover {
  outline-color: #55c57a;
}
.composition__photo--p2:hover {
  outline-color: #55c57a;
}
.composition__photo--p3:hover {
  outline-color: #55c57a;
}

/* animation */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 56.25rem) {
  html {
    font-size: 56.25%;
  }

  body {
    padding: 0;
  }

  .nav-button {
    display: block;
  }

  .header {
    height: 90vh;
  }

  .header {
    height: 100vh;
  }

  .header-text-box {
    top: 35%;
  }

  .header-text-primary {
    font-size: 5rem;
    letter-spacing: 2.5rem;
  }

  .header-text-secondary {
    font-size: 1.5rem;
    letter-spacing: 1.25rem;
  }
}
